
@{
    ViewData["Title"] = "Index";
}
<style>
    h4 {
        color: white;
        line-height: 1.6
    }
</style>

<img id="myImg" src="~/images/fire3.png" style="width:100%">
<br>
<br />
<li>
    <h4>
        Fire/Gas Sensor is a device that will be able to notify homeowners
        in the event of fire/gas leak. This Web Application will enable home
        owners to: - Track Gas Readings (Monthly Readings).

    </h4>
</li>
