@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    h4 {
        color: white;
        line-height: 1.6;
    }

</style>

<h1 style="color:gold">@ViewData["Title"]</h1>

<p>
    <h4 >
        We have a strong commitment to secure the privacy
        of all people in respect of which it processes information.
        We will just gather and use information in a manner consistent
        with your privileges and our obligations under relevant law
    </h4>
</p>

<p>
    <h4 >
        This Policy applies to visitors to our website located at <u><b>www.   </b></u> &nbsp;
        (the "Site") inclusive of any sub-domains of the Site, our FYP web portal,
        and to all clients or potential clients of our services
        This Policy likewise applies to content contributors and
        team members.
    </h4>
</p>

<p>
    <h4>
        Securing your privacy is paramount to us. It would be ideal if you read the
        following carefully to comprehend our perspectives and works on with respect
        to your information. By utilizing the Site and the Services as well as in any
        case interfacing with this FYP project, you consent to us processing your 
        personal information and other data in accordance with this Policy.
    </h4>
</p>


<p>
    <h3 style="color:gold"><b>Our Privacy Motto </b></h3>
</p>

<p style="color:white"><h4 style="line-height: 1.6"> 1. We are transparent about the information we hold about you. </h4></p>
<p style="color:white"><h4 style="line-height: 1.6"> 2. We will work with you to keep your information precise and current. </h4></p>
<p style="color:white">
    <h4>
        3. We will put do our best effort to keep your information secure and prevent
        unauthorised access to it. 
    </h4>
</p>

<p style="color:white">
    <h4>

        4. We will erase data when it is not required for our testing purposes or when
        you request  us to do so  and we have no legitimate obligation to hold such information.
    </h4>
</p>







