
@{
    ViewData["Title"] = "Statistics";
}
    <style>
        h4 {
            color: white;
            line-height: 1.6
        }
        h5 {
            color: white;
            line-height: 1.6
        }
        h6 {
            color: white;
            line-height: 1.6
        }
    </style>
<h1 style="color:gold">Overview of Fire Incidents in 2019</h1>
<img id="myImg" src="~/images/fire_stats.png" style="width:100%">
<br>
<br />
<p >
    <h4>
        SCDF responded to 2,862 fire calls in 2019, an increase of 7.8% from 2,656 in
        2018. Vegetation fires made up a significant share of the fires in 2019 at 30.9%,
        increased by 50.2% from 2018, and is the reason why overall fire calls increased by
        7.8% in 2019. The indiscriminate disposal of lighted materials such as lighted cigarette butts
        that were not completely extinguished, embers from charcoal and lighted incense sticks cases remained the leading cause of fires accounting for 1,050
        cases (36.7%) of all fires in 2019.  Fires caused by electrical origin was the second
        highest, with 661 cases (23.1%). There were 142 fire injuries in 2019, an increase from 90 in 2018. 84 (59.2%)
        of them were smoke inhalation cases while the remaining 58 (40.8%) had suffered
        burns. The majority of the fire injuries occurred in residential buildings. There was one fire fatality in 2019, as compared to four in 2018.
    </h4>
</p>

<br>
<br />
<fieldset><legend> Fires in Residential Premises </legend></fieldset>
<img id="myImg" src="~/images/fire_stats1.png" style="width:100%">
<p>
    <h4>
        1,168 fire incidents occurred in residential premises (private and public) in
        2019. The top three types of fire in residential premises are reflected in Chart 1.
    </h4>
</p>

<p>
    <h4>
        Unattended cooking fires, which formed the largest component of fires in
        residential buildings, decreased by 6.1% to 354 cases in 2019, from 377 cases in 2018.
        Fire incidents involving discarded items and household contents decreased as well. SCDF would like to remind members of the public not to leave their cooking
        unattended, and not to discard items at the common areas such as lift lobbies, common
        corridors and staircase landings. Such discarded items not only pose a fire risk but
        may obstruct people who are evacuating the area during an emergency.
    </h4>
</p>

<br>
<br />
<fieldset>
    <legend>
        Area of Concern: Fires Involving Personal Mobility Devices (PMDs)
    </legend>
</fieldset>
<p>
    <h4>
        In 2019, there were 102 fires involving Personal Mobility Devices (PMD). This
        was a sharp increase of 96.2% from 52 cases in 2018, and has been on a continuing
        upward trend since 2015 (see Chart 3 below). Fires involving Power Assisted Bicycles
        (PAB) decreased by 40.9% from 22 cases in 2018 to 13 cases in 2019.
    </h4>
</p>

<img id="myImg" src="~/images/fire_stats2.png" style="width:100%">
<p >
    <h4>
        SCDF urges members of the public, especially PMD owners, to be vigilant when
        handling their devices as fires involving PMDs and PABs can result in casualties and
        serious damage to property. There were 46 fire injuries (including one fatality) from
        these fires, and this represents a 76.9% increase from 26 injuries in 2018. In 2019, 78
        fires or 67.8% of the fires involving PMDs and PABs occurred at residential premises.
    </h4>
</p>

<p>
    <h4>
        SCDF will continue to profile such fires on its social media platforms and in the
        mainstream media to highlight the fire safety risks associated with PMDs and PABs,
        and educate the public on measures that owners can take to reduce these risks. All
        owners of non-UL2272 certified PMDs should also dispose of their devices at
        designated disposal points.
    </h4>
</p>
<br>
<br />
<fieldset>
    <legend>
        Reference
    </legend>
</fieldset>
<p>
    <h5 >
        SCDF - Singapore Civil Defence Force (2019),"FIRE, EMERGENCY MEDICAL SERVICES AND ENFORCEMENT
        STATISTICS 2019",
    </h5>
    <h6>
        <a href="https://www.scdf.gov.sg/docs/default-source/scdf-library/amb-fire-inspection-statistics/scdf-annual-statistics-2019.pdf" class="text-warning">
            FIRE, EMERGENCY MEDICAL SERVICES AND ENFORCEMENT
            STATISTICS 2019
        </a> [PDF file]
    </h6>
</p>


<br>
<br />
